__pycache__/
*.pyc
build/
dist/
*.spec
instance/
databases/
uploads/
*.db
flutter_app/android/
flutter_app/build/
flutter_app/.dart_tool/
flutter_app/.packages
flutter_app/.flutter-plugins
flutter_app/pubspec.lock
